header {
  text-align: center;
  width: 100%;
}
nav {
  text-align: center;
}

nav a {
  text-decoration: none;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

body {
  font-family: Arial;
}

.display {
  margin: 5%;
}
