<div class="display" id="about">
  <br>
  <h4>Purpose</h4>
  <p>During exam seaons, students find their study places are too crowded and they want to find other locations to study. </p>
  <p>Personally, I like to study at different places to maximize productivity.</p>
  <p>Therefore, I created this website where I can look for places to study.</p>
  <p>I can also create a new study spot to my list, add a study spot to my favorite list, and delete a study spot from the list.</p>
  <br>
  <br>
  <h4>About this website</h4>
  <p>This website is a final project for USC ITP 404 Class: Modern Technologies for Web Development.</p>
  <p>Written in: Ember.js</p>
</div>
{{outlet}}
