<header>
<h2>My Study Spots</h2>
</header>

<nav>
  {{#link-to "index"}}
  Home
  {{/link-to}}

  {{#link-to "about"}}
  About
  {{/link-to}}

  {{#link-to "contact"}}
  Contact
  {{/link-to}}
</nav>

{{outlet}}

<footer>&copy; 2018 Susan Zheng</footer>
