<div class="display">
  <div id="add">
    {{#link-to "create" class="btn btn-dark button"}}
      Add a spot
    {{/link-to}}
  </div>

  <div class="liked">
    <h4>My Favorite:</h4>
    {{#each model as |spot|}}
      {{#if spot.liked}}
        <hr>
        <DisplayLiked @spot={{spot}}/>
      {{/if}}
    {{/each}}
  </div>

  <div class="un-liked">
    <h4>Spot List:</h4>
    {{#each model as |spot|}}
      {{#unless spot.liked}}
        <hr>
        <DisplayLiked @spot={{spot}}/>
      {{/unless}}
    {{/each}}
  </div>
</div>

{{outlet}}
