<div class="display">
  <h4 data-test="spot-name">{{model.name}}</h4>
  <p data-test="spot-address">Address: {{model.address}}</p>
  <p data-test="spot-hour">Operating hours: {{model.hours}}</p>
  <p data-test="spot-review">Review: {{model.review}}</p>
</div>
